button {
	border: none;
	cursor: pointer;
	outline: none;
}
body {
	text-align: center;
	background-color: black;
}

.game {
	background: url(img/background.png) center/cover;
	width: 800px;
	height: 500px;
	display: flex;
	flex-direction: column;
	margin: auto;
	border-radius: 20px;
}

/* header */
.game__header {
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: center;
}

.game__button {
	width: 60px;
	height: 60px;
	background-color: wheat;
	border: 5px solid #333;
	font-size: 24px;
	transition: transform 300ms ease-in;
}
.game__button:hover {
	transform: scale(1.05);
}
.game__timer {
	background-color: wheat;
	width: 100px;
	font-size: 30px;
	text-align: center;
	border: 5px solid #333;
	border-radius: 20px;
	margin-top: 12px;
	visibility: hidden;
	user-select: none;
	cursor: auto;
}
.game__score {
	background-color: darksalmon;
	color: white;
	width: 50px;
	height: 50px;
	font-size: 38px;
	text-align: center;
	border: 5px solid #333;
	border-radius: 50%;
	margin-top: 12px;
	visibility: hidden;
	user-select: none;
	cursor: auto;
}

/* field */
.game__field {
	width: 100%;
	height: 100%;
	margin-top: 40px;
	position: relative;
}

/* pop-up */
.pop-up {
	width: 400px;
	height: 140px;
	padding: 20px;
	background-color: #33333390;
	color: white;
	text-align: center;
	margin: auto;
	transform: translateY(-150%);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.pop-up--hide {
	display: none;
}

.pop-up__refresh {
	width: 60px;
	height: 60px;
	font-size: 24px;
	color: #333;
	background-color: wheat;
	border: 5px solid #333;
	border-radius: 50%;
}

.pop-up__message {
	font-size: 38px;
}

.carrot,
.bug {
	transition: transform 100ms ease-in;
}

.carrot:hover,
.bug:hover {
	transform: scale(1.1);
}
